.icon-wrapper {
  width: 25%;
  display: inline-block;
}

.fa {
  border-radius: 50%;
  padding:15px;
  font-size: 150%;
}

.fa-link {
  color: rgb(47, 231, 177);
  background: rgba(47, 231, 177, 0.2);
}

.fa-book {
  color: rgb(23, 162, 184);
  background: rgba(23, 162, 184, 0.2);
}

.fa-list-alt {
  color: rgb(111, 66, 193);
  background: rgba(111, 66, 193, 0.2);
}
